*{margin: 0;

}

.font-open-senc{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
 
}
.box{
    width: 1600px;
    /* height: 92px; */
   display: flex;
    /* border: 1px solid red; */
    overflow: hidden;
}
.navi{
    justify-content: center;
    /* border: 2px solid blue; */
    margin: 34px 300px 30px 300px;
    display: flex;
    /* justify-content: space-around; */
    gap: 32px;
    width: 400px;
    height: 24px;
    /* margin-top: 34px; */
   /* font-size: smaller; */
   
}
.ime{
    width: 130px;
    height: 60px;
    justify-content: center;
    margin-left: 120px;
    /* border: 1px solid green; */
    margin-top: 16px;
   

}
.box-2{
    width: 70px;
    height: 8px;
  padding-left: 173px;
  /* border: 2px solid green; */

}
.batom{
    width: 164px;
    height: 44px;
    margin-right: 120px;
    /* font-size: small; */
    margin-top: 16px;
    background-color: green;
    padding-left: 10px;
    color: aliceblue;
    border-radius: 10px;
    padding-top: 20px;
    
}
.box-3{
    background-image: url(../assets/hero-bg.png);
    width: 100%;
    height: 674px;
    background-repeat: no-repeat;
}
.box-4{
    width: 1000px;
    /* height: 600px; */

margin-left: 300px;
/* padding-right: 415px; */
/* border: 2px solid rgb(186, 18, 18); */

}
.box-9{
    height: 210px;
/* border: 1px solid greenyellow; */
margin-left: 200px;
/* margin-top: 115px; */
padding-top: 115px;
}
.box-5{
    width: 1360px;
    height: 100px;
    color: aliceblue;
   
}
.baton{
    /* border: 2px solid green; */
    margin-top: 10px;
    margin-left: 200px;
}
.box-6{
    /* font-size:small; */
    width: 200px;
    height: 19px;
    /* border: 1px solid red; */
    margin-left: 70px;
    padding-bottom: 10px;
    padding-left: 80px;
    background-color: beige;
    border-radius: 10px;
    color: green;
    padding-top: 10px;
}
.color{
    width: 770px;
    /* height: 168px; */
    color: rgb(244, 243, 240);
    font-size: 1.5em;
    padding-top: 1px;
}
.matha{
    color: green;
   
}
.batom-1{
    width: 251px;
    height: 52px;
    background-color: green;
    font-size: 16px;
    
}
.batom-2{
  width: 251px;
    height: 52px;
    background: none;
    border: 2px solid black;
    color: aliceblue;
    font-size: 16px;
    padding-left: 10px;
    

}
.sect{
width: 1600px;
height: 600;
/* border: 1px solid greenyellow; */
}
.box-7{
    width: 1200px;
    height: 152px;
    /* border: 2px solid red; */
    /* margin-left: 120px; */
    padding-left: 400px;
   
        padding-top: 50px;
    font-size: 25px;
}

.soto{
    font-size: small;
    padding-left: 60px;
}
.card{
    width: 1360px;
    /* height: 300px; */
    margin-left: 120px;
    /* border: 1px solid red; */
    display: flex;
    /* background-color: blueviolet; */
    justify-content: space-around ;
}
.skil-card{
   gap: 20px;
   width: 322px;
   height: 300px;
   background: white;
   box-shadow: 0 5px 9px rgb(232, 231, 231);
}
.mini{ 
    width: 50px;
    height: 50px;
   /* border: 1px solid greenyellow; */
   padding-left: 20px;
   padding-top: 10px;
   overflow: hidden;
   background-color: bisque;
   border-radius: 100%;
}
.ange{
    /* border: 1px solid blue; */
    padding-left:20% ;
    overflow: hidden;
}
.matha-4{
    font-size: 30px;
    padding-left: 20px;
}
.matha-5{
      padding-left: 20px;
}
#model{
    display: flex;
    width: 1360px;
    /* height: 20px; */
    /* border: 2px solid red; */
    margin: 120px;
    /* margin-top: 10px; */
}
.model-1{
    width: 700px;
    height: 396px;
    /* border: 2px solid greenyellow; */
    margin-top: 102px;
    margin-bottom: 102px;
    margin-left: 60px;
}
.grr{
    color: green;
}
.peru{
    width: 700px;
    height: 60px;
    /* border: 1px solid red; */
    /* justify-content: line; */
    margin-top: 16px;
    margin-bottom: 40px;
}
.model-2{
    padding-left: 20px;
}

  